* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: #111111;
    background-color: #FCFCFC;
}

header {
    padding: 32px;
}

h1 {

}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

thead {
    border-bottom: 1px solid #707070;
    padding: 8px;
}

th {
    padding: 8px;
}


.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}